@model List<CollectingReviews.Models.Review>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @foreach(var item in Model)
    {
        <div class="card border-success mb-3" style="max-width: 18rem;">
            <div class="card-header bg-transparent border-success"><a asp-controller="GetReview" asp-action="Index" asp-route-id="@item.Id">@item.OrganizationName</a></div>
            <div class="card-body text-success">
                <h5 class="card-title">@item.Address</h5>
                <p class="card-text">@item.Estimation</p>
            </div>
        </div>
    }
    <a asp-controller="AddReview" asp-action="Add">
        контролер
    </a>
    <a asp-controller="Admin" asp-action="Index">
        Admin
    </a>
    <a class="nav-link" asp-controller="Admin" asp-action="UserList" role="button" aria-haspopup="true" aria-expanded="false">
        Панель администратора
    </a>
</div>
